<ion-view view-title="Contact Us">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Location information
            </div>
            <div class="item item-body item-text-wrap">
                <h2>Our Address</h2>
                <p>
                    121, Clear Water Bay Road <br/> 
                    Clear Water Bay, Kowloon <br/> 
                    HONG KONG <br/>
                </p>
                <i class="icon ion-android-call"> : +852 1234 5678</i> <br>
                <i class="icon ion-printer"> : +852 1234 5678</i> <br>
                <i class="icon ion-ios-email"> : confusion@food.com</i> <br>
            </div>
            <div class="button-bar">
                <a class="button button-calm icon-left ion-android-call">Call</a>
                <a class="button button-positive icon-left ion-social-skype">Skype</a>
                <a class="button button-balanced icon-left ion-ios-email">Email</a>
            </div>
        </div>
    </ion-content>
</ion-view>