<div class="list">
    <rating ng-model="newComment.rating" max="maxRating"></rating>
    <label class="item item-input">
      <textarea ng-model="newComment.comment" placeholder="Your comment"></textarea>
    </label>
    <label class="item item-input">
      <input type="text" ng-model="newComment.author" placeholder="Your name">
    </label>
</div>