<ion-view view-title="Dish Details">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-more" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-body item-text-wrap">
                <img class="full-image" ng-src="{{baseURL+dish.image}}" alt="Uthappizza">
                <h2>{{dish.name}}
                 <span style="font-size:75%">{{dish.price | currency}}</span>
                <span class="badge badge-assertive">{{dish.label}}</span></h2>
                <p>{{dish.description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-offset-10">
                <h4>Customer Comments <br/>
                    <small>Sort by: &nbsp;</small>
                    <select name="orderText" id="selectOrderText" ng-model="orderText" 
                            ng-options="sort.value as sort.key for sort in sorts track by sort.id" >
                    <option value="">Select</option>
                    </select>
                </h4>
                <ul class="list">
                    <li ng-repeat="comment in dish.comments | orderBy:orderText">
                        <blockquote>
                            <rating readonly="true" ng-model="comment.rating" max="maxRating"></rating>
                            <p>{{comment.comment}}</p>
                            <footer>{{comment.author}}, {{comment.date | date:'dd. MMM, yyyy'}}</footer>
                        </blockquote>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>