<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-royal">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="mainContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
            <h1 class="title">Navigation</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/app/home">Home</ion-item>
                <ion-item menu-close href="#/app/aboutus">About Us</ion-item>
                <ion-item menu-close href="#/app/menu">Menu</ion-item>
                <ion-item menu-close href="#/app/favorites">My Favorites</ion-item>
                <ion-item menu-close href="#/app/contactus">Contact Us</ion-item>
                <ion-item class="item-divider">Services</ion-item>
                <ion-item menu-close ng-click="login()">Login</ion-item>
                <ion-item menu-close ng-click="reserve()">Reserve Table</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
